
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

.initial-board{

    width: 100%;
}

.recomendacao-board{

    align-self: bottom;
    overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

.autores-row{

    padding-bottom: 15px;
    border-bottom: 2px solid rgb(133 95 59 / 38%);
}

.lista-livros-autor{

    font-style: italic;
    text-align: center;
    text-decoration: underline;
    list-style: none;
    color: rgb(175 124 76);
    font-size: 18px;
}

.nav-link{

    color: white;
    font-size: 1.23em;
}

.nav-link:hover{
    transition: 0.5s;
    color: rgb(184, 139, 97);
}

.navbar-nav > li > .dropdown-item option:hover {     background-color: #A64F03;  }

.categoria-item-container div:hover{

    transition: 0.5;
    background-color: #d6d6d6;
}

button.botao-buscar.btn.rounded{

    background-color: #593E25;
    color: rgb(184, 139, 97);
}

h2{
    color: rgb(175 124 76);
    font-weight: bold;
    text-decoration: underline;
}

.flex-autores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.card-body-autores{
    display: flex;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
}

.card-body-autores a{
    background-color: #593e25;
    font-weight: 500;
    border: none;
}

.card-body-autores a:hover{
    transition: 0.5s;
    background-color: #593e25;
    border: none;
    font-weight: 500;
}

.btn-vermais{

    color: #fff;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
}

.grid-autores{
    display: grid;
    background-color: #ddd;
    width: 200px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.splide__slide__container img{
    position: relative;
    overflow:hidden;
    width: 80%;
    left: 10%;
    top: 10%;
}
.splide__slide{
    padding: 10px;
}
.splide__slide:hover{

    transition: 0.5s;
    color: rgb(184, 139, 97);
    background-color: #d6d6d6;
}
.splide__pagination__page{
    background: #463125;
}

.splide__pagination__page.is-active{
    background-color: rgb(175 124 76);
}